<input type="checkbox" name="nav-toggle" id="nav-toggle" value="" />
<header>
    <a href="#">
        Pizza <span>Delicious</span>
    </a>

    <label id="toggle" for="nav-toggle">
        <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>
        Menu
    </label>

    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#/menu">Menu</a></li>
            <li><a href="#/reserve">Reserve</a></li>
            <li><a href="#/why-us">Why us</a></li>
            <li><a href="#/about-us">About us</a></li>
        </ul>
    </nav>
</header>