<input type="checkbox" name="toggle-checkbox" id="toggle-checkbox" value="" />
<header id="site-header">
    <div class="site-title">
        <a href="/home">
            <i class="fas fa-dragon"></i>
            <span>Pizzeria <small>Bubba-Gump</small></span>
        </a>
    </div>
    <label id="toggle-icons" for="toggle-checkbox">
        <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>
    </label>
    <nav class="navigation">
        <ul class="outer-list">
            <li><a href="/home">Home</a></li>
            <li>
                <a href="/menu">Menu</a>
                <ul class="inner-list">
                    <li><a href="/pizza">Pizza</a></li>
                    <li><a href="/pasta-risotto">Pasta &amp; Risotto</a></li>
                    <li><a href="/desserts">Desserts</a></li>
                    <li><a href="/drinks">Drinks</a></li>
                </ul>
            </li>
            <li><a href="/reserve">Reserve</a></li>
            <li><a href="/why-us">Why Us</a></li>
            <li><a href="/about-us">About Us</a></li>
        </ul>
    </nav>
</header>