<input type="checkbox" name="nav-toggle" id="nav-toggle" value="" />

<header id="site-header">
    <a href="/home">Pizzeria Bubba-Gump</a>

    <label id="toggle" for="nav-toggle">
        <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>
    </label>

    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/menu">Menu</a></li>
            <li><a href="/reserve">Reserve</a></li>
            <li><a href="/why-us">Why Us</a></li>
            <li><a href="/about-us">About Us</a></li>
        </ul>
    </nav>
</header>