.home-header {
    background-image: url('../../images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem;
}

.home-header .wrapper {
    display: flex;
    align-items: center;
}

.home-header .heading {
    width: 50%;
    color: white;
    padding: 1rem 2rem;
    background-color: rgba(0,0,0,0.4);
}

a.button {
	display: inline-block;
	outline: none;
	text-decoration: none;
	font-size: 0.9rem;
	cursor: pointer;
	background: transparent;
	color: white;
	border: 2px solid white;
	border-radius: 0.2rem;
	padding: 0.3rem 0.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

a.button:hover {
    background-color: white;
    color: black;
}

.home-content {
    width: 70%;
    margin: 0 auto;
}

.home-content blockquote p {
    padding: 0;
}

.home-content blockquote p.moto {
    padding-bottom: 0.5rem;
}

@media screen and (min-width: 800px) {
    .home-header .wrapper {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .home-header .heading {
        margin-left: 5rem;
    }
}