<section class="about-us">
    <div class="heading">
        <h2>About Pizza Delicious</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod mollitia aliquam quae, facere minima nihil
            repellendus officia possimus vel quia quidem cupiditate numquam nam earum labore corrupti quas. Dolorum,
            minus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod mollitia aliquam quae, facere minima
            nihil repellendus officia possimus vel quia quidem cupiditate numquam nam earum labore corrupti quas.
            Dolorum, minus.
        </p>
    </div>
    <section class="about-us-items">
        <article class="about-us-img">
        </article>
        <article class="story">
            <h3>Our Story</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod mollitia aliquam quae, facere minima
                nihil repellendus officia possimus vel quia quidem cupiditate numquam nam earum labore corrupti quas.
                Dolorum, minus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod mollitia aliquam quae,
                facere minima nihil repellendus officia possimus vel quia quidem cupiditate numquam nam earum labore
                corrupti quas. Dolorum, minus.
            </p>
        </article>
    </section>
    <section class="chefs">
        <h3>Our Chefs</h3>
        <p>The best chefs in the city</p>
        <section class="chefs-items">
            <article>
                <img src="../images/person_1.jpg" alt="person-1">
                <h3>Tom Smith</h3>
                <h4>Starter Specialist</h4>
                <p>
                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the
                    blind texts.
                </p>
            </article>
            <article>
                <img src="../images/person_2.jpg" alt="person-2">
                <h3>Marc Wilson</h3>
                <h4>Salad Specialist</h4>
                <p>
                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the
                    blind texts.
                </p>
            </article>
            <article>
                <img src="../images/person_3.jpg" alt="person-3">
                <h3>Patrich Arnhold</h3>
                <h4>Meat Specialist</h4>
                <p>
                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the
                    blind texts.
                </p>
            </article>
            <article>
                <img src="../images/person_4.jpg" alt="person-4">
                <h3>Kevin Lock</h3>
                <h4>Dessert Specialist</h4>
                <p>
                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the
                    blind texts.
                </p>
            </article>
        </section>
    </section>
</section>
</section>