<section class="about-us">
    <div class="heading">
        <h2>About Bubba-Gump</h2>
        <p>
            In 1979, having bought and restored the old linoleum warehouse in Moor Lane, Clementine Allen (whose
            brother founded the internationally acclaimed Pizza Express) opened Pizzeria Bubba-Gump on the 4th of
            December. At that time, Pizza was something of an unknown quantity; but within a year, Pizzeria Bubba-Gump
            had established a name for great quality food served in a wonderful atmosphere. Today, over thirty nine
            years later, we are still making amazing pizza according to our many regular customers some of whom have
            been coming since we opened.
        </p>
        <p class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </p>
    </div>

    <section class="story">
        <article class="story-img">
        </article>
        <article class="story-items">
            <div class="subheading">
                <h4>Our Story</h4>
                <p>
                    The original philosophy was quite simple; we would be open for twelve hours a day, seven days a
                    week,
                    throughout the year; closing only on Christmas Day and Boxing Day. This remains the ethos to this
                    day.
                    The décor is simple – white walls, wooden floors and marble tables with stylish comfortable chairs.
                    Combined with our enthusiastic and friendly staff, you can be assured of a pleasurable experience
                    whenever you come to visit us.
                </p>
            </div>
        </article>
    </section>

    <section class="chefs">
        <div class="subheading">
            <h4>Our Chefs</h4>
            <p>The best chefs in the city</p>
        </div>
        <section class="chefs-items">
            <article>
                <img src="../images/person_1.jpg" alt="person-1">
                <h5>Tom Smith</h5>
                <p class="job">Starter Specialist</p>
                <p>Our starter specialist has twelve years of experience at the restaurant of Gorden Ramsay.</p>
            </article>
            <article>
                <img src="../images/person_2.jpg" alt="person-2">
                <h5>Marc Wilson</h5>
                <p class="job">Salad Specialist</p>
                <p>Our salad specialist has twenty years of experience at the restaurant of Jamie Oliver.</p>
            </article>
            <article>
                <img src="../images/person_3.jpg" alt="person-3">
                <h5>Patrich Coleman</h5>
                <p class="job">Meat Specialist</p>
                <p>Our meat specialist has fifteen years of experience at the restaurant of Gorden Ramsay.</p>
            </article>
            <article>
                <img src="../images/person_4.jpg" alt="person-4">
                <h5>Kevin Lock</h5>
                <p class="job">Dessert Specialist</p>
                <p>Our dessert specialist has eighteen years of experience at the restaurant of Jamie Oliver.</p>
            </article>
        </section>
    </section>
</section>
</section>