<section class="header">
    <div class="wrapper">
        <h1>Want to try the best pizza?</h1>
        <p>Come to taste it here!</p>
        <a href="/pizza">Choose Pizza</a>
    </div>
</section>

<section class="home">
    <h3>Welcome to Pizzeria Bubba-Gump!</h3>
    <p>
        Pizza! If you crave a great pizza, you’ve found the place! We hand craft our dough daily, allowing it to cure
        in our cooler for three days before using it to make our fantastic hand tossed pizza. We also offer a delicious
        thin crust (as well as gluten free crust)! All our veggies are cut fresh daily and we always use the best
        toppings we can find. We make calzones to die for and a couple awesome salads too! We offer dine in (with
        banquet room available for groups up to 45), carry out, and limited delivery to Lacon & Sparland. Be sure to
        check out our SPOTM (Specialty Pizza Of The Month) for unique pizzas that may not be on our regular menu!
    </p>
    <blockquote class="gump">
        <p class="moto">Prepare yourself for the best pizza in the world!</p>
        <p class="author">Forrest Gump</p>
        <p class="author"><small>Owner</small></p>
    </blockquote>
    <p>
        The reason behind the success of Pizzeria Bubba-Gump is its steadfast belief and uncompromising drive in
        providing customers the best in terms of product quality, service, cleanliness and value. Our pizzas are made
        with fresh dough baked daily and smothered with our very own special tomato sauce, tender meat toppings,
        crunchy vegetables and a double layer of 100% pure imported Mozzarella cheese. Service is an attitude in
        Pizzeria Bubba-Gump. Crew members are trained to make customers feel appreciated. Customers are treated with
        courtesy, attentiveness, respect, and enthusiasm. Cleanliness is a must in our place as much as giving
        customers the best value for their money.
    </p>
    <blockquote class="bubba">
        <p class="moto">Do not forget to taste our famous pasta with shrimps!</p>
        <p class="author">Bubba Gump</p>
        <p class="author"><small>Owner</small></p>
    </blockquote>
    <p>
        Pizzeria Bubba-Gump is an independently owned pizza restaurant that specializes in pizzas, pasta and risotto.
        We offer a variety of lunch and dinner items from starters and salads to pizza, pasta and risotto! Pizzeria
        Bubba-Gump offers free delivery seven days a week all day long to all the main parts of London! We also offer
        take-out and dine in service as well. Our mission is to serve quality food with outstanding customer service in
        a clean and inviting atmosphere, and to do it at a fair price! Use this web site to learn more about our menu,
        order food for your home or reserve a table for your company!
    </p>
</section>