<section class="home-header">
    <div class="wrapper">
        <div class="heading">
            <h2>Want the most delicious pizza?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloribus odio atque nihil minus culpa?
                Labore libero placeat fugit. Nisi accusantium voluptates dolorem molestiae, sunt id ea odio
                reprehenderit rem!</p>
            <a href="/pizza" class="button">Choose Pizza</a>
        </div>
    </div>
</section>
<section class="home-content">
    <h3>Welcome to Pizza Delicious!</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis eius accusantium, sequi amet reiciendis
        laudantium accusamus maiores distinctio, odit nihil perspiciatis, alias deleniti quos. Dolorem tempora quisquam
        dignissimos sint nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem obcaecati officia
        dolorem, itaque asperiores reprehenderit? Eum blanditiis, dolore deserunt aperiam voluptates vitae aspernatur
        totam dolor atque. Optio molestias aliquam enim. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
        similique accusamus, quod fuga dicta odit veritatis, error quibusdam aut porro cum quam, ea voluptates mollitia
        labore temporibus enim reprehenderit ullam?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis eius accusantium, sequi amet reiciendis
        laudantium accusamus maiores distinctio, odit nihil perspiciatis, alias deleniti quos. Dolorem tempora quisquam
        dignissimos sint nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem obcaecati officia
        dolorem, itaque asperiores reprehenderit? Eum blanditiis, dolore deserunt aperiam voluptates vitae aspernatur
        totam dolor atque. Optio molestias aliquam enim. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
        similique accusamus, quod fuga dicta odit veritatis, error quibusdam aut porro cum quam, ea voluptates mollitia
        labore temporibus enim reprehenderit ullam?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis eius accusantium, sequi amet reiciendis
        laudantium accusamus maiores distinctio, odit nihil perspiciatis, alias deleniti quos. Dolorem tempora quisquam
        dignissimos sint nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem obcaecati officia
        dolorem, itaque asperiores reprehenderit? Eum blanditiis, dolore deserunt aperiam voluptates vitae aspernatur
        totam dolor atque. Optio molestias aliquam enim. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
        similique accusamus, quod fuga dicta odit veritatis, error quibusdam aut porro cum quam, ea voluptates mollitia
        labore temporibus enim reprehenderit ullam?</p>
    <blockquote>
        <p class="moto">Prepare yourself for the best pizza in the world...</p>
        <p class="author">Forrest Gump</p>
        <p class="author"><small>Owner and Chef</small></p>
    </blockquote>
</section>