<section class="menu">
    <div class="wrapper">
        <div class="heading">
            <h2>Our Menu</h2>
            <p>
                Pizzeria Bubba-Gump is not a simple pizza restaurant but a must for anyone who loves pizza.
                Treat yourself to one of our pizzas, taste our fresh pasta &amp; risotto, enjoy your essert and
                beverages. We pride ourselves in providing our customers with a wide variety of the finest quality of
                freshly cooked food. We aim to offer for both business and pleasure.
            </p>
        </div>

        <section class="menu-items">
            <article>
                <a href="/pizza">
                    <img src="../images/pizzas.jpg" alt="pizzas">
                    <h4>Pizza</h4>
                </a>
            </article>
            <article>
                <a href="/pasta-risotto">
                    <img src="../images/pastas.jpg" alt="pasta">
                    <h4>Pasta &amp; Risotto</h4>
                </a>
            </article>
            <article>
                <a href="/desserts">
                    <img src="../images/desserts.jpg" alt="desserts">
                    <h4>Desserts</h4>
                </a>
            </article>
            <article>
                <a href="/drinks">
                    <img src="../images/drinks.jpg" alt="drinks">
                    <h4>Drinks</h4>
                </a>
            </article>
        </section>
    </div>
    
    <div class="people">
        <img src="../images/people.jpg" alt="people" />
    </div>
</section>