<section class="menu">
    <div class="wrapper">

        <div class="heading">
            <h2>Enjoy Our Menu!</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod mollitia aliquam quae, facere minima nihil
                repellendus officia possimus vel quia quidem cupiditate numquam nam earum labore corrupti quas.
                Dolorum,
                minus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod mollitia aliquam quae, facere
                minima
                nihil repellendus officia possimus vel quia quidem cupiditate numquam nam earum labore corrupti quas.
                Dolorum, minus.</p>
        </div>
        <section class="menu-items">
            <article>
                <a href="/pizza">
                    <img src="../images/pizzas.jpg" alt="pizzas">
                    <h3>Pizza</h3>
                </a>
            </article>
            <article>
                <a href="/pasta-risotto">
                    <img src="../images/pastas.jpg" alt="pasta">
                    <h3>Pasta &amp; Risotto</h3>
                </a>
            </article>
            <article>
                <a href="/desserts">
                    <img src="../images/desserts.jpg" alt="desserts">
                    <h3>Desserts</h3>
                </a>
            </article>
            <article>
                <a href="/drinks">
                    <img src="../images/drinks.jpg" alt="drinks">
                    <h3>Drinks</h3>
                </a>
            </article>
        </section>
    </div>
    <div class="people">
        <img src="../images/people.jpg" alt="people" />
    </div>
</section>