<section class="reserve">
    <div class="heading">
        <h2>Where To Find Us?</h2>
        <p>We cover all the main part of London!</p>
    </div>
    <section class="reserve-items">
        <article>
            <i class="fas fa-map-marker-alt"></i>
            <h3>238 Green Lane</h3>
            <p>Oxford</p>
        </article>
        <article>
            <i class="fas fa-map-marker-alt"></i>
            <h3>778 Park Road</h3>
            <p>Bristol</p>
        </article>
        <article>
            <i class="fas fa-map-marker-alt"></i>
            <h3>7283 Highfield Road</h3>
            <p>Chester</p>
        </article>
        <article>
            <i class="fas fa-map-marker-alt"></i>
            <h3>153 Main Street</h3>
            <p>Twickenham</p>
        </article>
        <article>
            <i class="fas fa-map-marker-alt"></i>
            <h3>531 South Street</h3>
            <p>Kilmarnock</p>
        </article>
        <article>
            <i class="fas fa-map-marker-alt"></i>
            <h3>335 The Crescent</h3>
            <p>Kentucky</p>
        </article>
    </section>

     <div class="heading">
        <h2>Want To Reserve?</h2>
        <p>Our stuff will book the best table for your company!</p>
    </div>
    <form action="#" method="POST">
        <div>
            <i class="fas fa-user"></i>
            <input type="text" placeholder="First name" required />
        </div>

        <div>
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Last name" required />
        </div>

        <div>
            <i class="fas fa-envelope"></i>
            <input type="email" placeholder="Email" required />
        </div>

        <div>
            <i class="fas fa-phone"></i>
            <input type="text" placeholder="Phone" required />
        </div>

        <input type="submit" value="Reserve" />
    </form>
</section>