<section class="why-us">
    <div class="heading">
        <h2>Why Us</h2>
        <p>
            At Pizzeria Bubba-Gump we will not rush you, you can spend the evening with us if you wish. Alternatively
            if you are looking for a quick meal, then we can assure you of prompt service so that you are able to
            enjoy our excellent food as quickly as you need, for instance, if you are going to either The Grand or
            The Dukes Theatres. We are open from 10.30 a.m. every day and offer morning coffee, lunch, afternoon tea,
            dinner or simply a great snack to help you through a busy day. We can accommodate customers who have
            special dietary requirements such as vegans, and those with gluten and lactose allergies. Pizzeria
            Bubba-Gump is a great place to relax and let life pass you by for a while, so why not visit us and enjoy
            good food in Lancaster at any time of the day.
        </p>
    </div>

    <section class="why-us-items">
        <article>
            <i class="fab fa-apple"></i>
            <h4>Fresh Products</h4>
            <p> We make our own dough on the premises and ensure that all other ingredients are of the highest quality.</p>
        </article>
        <article>
            <i class="fas fa-truck"></i>
            <h4>Fast Delivery</h4>
            <p>In case you want a pizza or some other meal for your home feel free to contact us by the phone.</p>
        </article>
        <article>
            <i class="fas fa-book-open"></i>
            <h4>Original Recipes</h4>
            <p>Our recipes are original and they haven't changed since the opening of our restaurant in 1979.</p>
        </article>
        <article>
            <i class="fas fa-users"></i>
            <h4>Proffesional Team</h4>
            <p>With our staff you can be assured of a pleasurable experience whenever you come to visit our restaurant.</p>
        </article>
        <article>
            <i class="fas fa-star"></i>
            <h4>High Rating</h4>
            <p>Almost 100% of our clients are satisfied with our services, giving us the highest rating in our city -
                4.8/5.</p>
        </article>
        <article>
            <i class="fas fa-clock"></i>
            <h4>No Delays</h4>
            <p>There is no other place in the city where the food is cooked and served faster than in our restaurant.</p>
        </article>
    </section>
</section>