$background_transparent: rgba(0,0,0,0.4);
$background_white : white;

.header {
	background-image: url('../../images/background-main.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
	padding: 5rem;
    max-width: $website-max-width;
    
	.heading {
		width: 30rem;
		padding: 2rem;
		color: $color_white;
		background-color: $background_transparent;
    
        h1 {
			font-size: 2rem;
        }
    
        a {
			display: inline-block;
			text-decoration: none;
			font-weight: bold;
			border: 2px solid $color_white;
			border-radius: 0.3rem;
			padding: 0.5rem 0.8rem;
			animation: bounce 0.5s linear infinite;
			color: $color_white;

            &:hover {
				color: $color_black;
				background-color: $background_white;
			}
        }
        
        @include media-query(phablet, max) {
            text-align: center;
            width: 100%;
        }
	}

	.home {
    	width: 70%;
		max-width: 80rem;
    	margin: 3rem auto 2rem auto;
    
		h3 {
			text-align: center;
			margin-bottom: 1rem;
		}
    
	    blockquote {
			p {
				padding: 0;
    
           		.moto {
	    			padding-bottom: 0.5rem;
		    	}
	    	}
    	}
	}
}