.menu {
    background-image: url('../../images/background-black.jpg');
    background-size: cover;
    text-align: center;
    max-width: 100rem;
    margin: 0 auto;
}

.menu .wrapper {
    padding: 1rem;
}

.menu .heading {
    width: 70%;
    margin: 2rem auto;
}

.menu .heading h2 {
    color: navajowhite;
}

.menu .heading p {
    color: gainsboro;
}

.menu .menu-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu .menu-items article {
    width: 20%;
    margin: 1rem;
    border: 1px solid peru;
}

.menu .menu-items article a {
    display: block;
    padding: 2rem 1.5rem;
    text-decoration: none;
}

.menu .menu-items article:hover {
    border: 1px solid navajowhite;
    box-shadow: 0 0 1rem 0 navajowhite;
    transition: border 0.3s ease-in, box-shadow 0.3s ease-in;
}

.menu .menu-items article a img {
    width: 100%;
    border-radius: 50%;
}

.menu .menu-items article a h4 {
    padding-top: 2rem;
    color: navajowhite;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.menu .people img {
    width: 100%;
    margin-top: 2rem;
    padding: 0;
    opacity: 0.8;
}


@media screen and (max-width: 1024px) {
    .menu .menu-items article {
        width: 35%;        
    }
}

@media screen and (max-width: 480px) {
    .menu .menu-items article {
        width: 80%;
    }
}