.reserve {
    background-image: url('../../images/map.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    text-align: center;
    color: gainsboro;
    max-width: 100rem;
    margin: 0 auto;
    padding: 2rem;
    opacity: 0.9;
}

.reserve .heading {
    width: 70%;
    margin: 2rem auto;
}

.reserve .heading h2 {
    font-size: 3rem;
    margin: 0.5rem auto;
    color: navajowhite;
}

.reserve .heading p {
    color: gainsboro;
    padding-bottom: 0.5rem;
}

.reserve .reserve-items {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.reserve .reserve-items article {
    margin: 1rem 2rem;
    width: 25%;
    text-align: center;
}

.reserve .reserve-items article i {
    font-size: 2em;
    color: navajowhite;
}

.reserve .reserve-items article h3 {
    font-size: 1.2rem;
}

.reserve .reserve-items article p {
    font-size: 0.8rem;
    text-transform: uppercase;
}

.reserve form {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.reserve form input {
    width: 70%;
    padding: 0.7rem 1.5rem 0.7rem 2.5rem;
    margin: 0.5rem auto;
    border: none;
    outline: none;
    font-size: 0.8rem;
    color: gray;
    border-radius: 0.3rem;
    border-bottom: 1px solid gainsboro;
}

.reserve form i {
    position: relative;
    left: 2rem;
    top: 0.1rem;
    color: black;
    font-size: 1rem;
}

.reserve form input[type=submit] {
    width: 20%;
    margin: 1rem auto;
    border: none;
    border-radius: 1.5rem;
    text-align: center;
    cursor: pointer;
    background-color: navajowhite;
    border: 2px solid navajowhite;
    color: black;
    font-size: 1.2rem;
    padding: 0.6rem;
}

.reserve form input[type=submit]:hover {
    background-color: black;
    color: navajowhite;
}


@media screen and (max-width: 1024px) {
    .reserve .reserve-items article {
        width: 35%;
    }

    .reserve form input {
        width: 80%;
    }

    .reserve form input[type=submit] {
        width: 30%;
    }
}


@media screen and (max-width: 480px) {
    .reserve .reserve-items article {
        width: 80%;
    }
    
    .reserve form input {
        width: 90%;
    }

    .reserve form input[type=submit] {
        width: 40%;
    }
}