.reserve {
  background-image: url("../../images/map.jpg");
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  opacity: 0.9;
  margin: 0 auto;
  padding: 1rem;
  color: $color_gainsboro;
  background-color: $background_black;

  .reserve-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    width: 90%;
    margin: 4rem auto;

    article {
      i {
        font-size: 2em;
        margin-bottom: 1rem;
        color: $color_navajowhite;
      }

      h3 {
        font-size: 1.2rem;
      }

      p {
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 700;
      }
    }

    @include media-query(tablet, max) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-query(phone-wide, max) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  form {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    width: 70%;
    margin: 4rem auto 2rem auto;

    i {
      position: relative;
      left: 2rem;
      top: 0.1rem;
      color: $color_black;
    }

    input {
      border: none;
      outline: none;
      width: 60%;
      font-size: 0.8rem;
      border-radius: 0.3rem;
      padding: 0.6rem 2.5rem;
      color: $color_gray;

      @include media-query(tablet, max) {
        width: 80%;
      }

      @include media-query(phone-wide, max) {
        width: 90%;
      }
    }

    input#reserve-submit {
      width: 20%;
      font-size: 1.2rem;
      font-weight: 700;
      border-radius: 1.5rem;
      border: 2px solid $color_navajowhite;
      padding: 0.6rem;
      margin: 0.3rem auto;
      cursor: pointer;
      color: $color_black;
      background-color: $background_navajowhite;

      &:hover {
        @include button-hover($color_navajowhite, $background_black);
      }

      @include media-query(tablet, max) {
        width: 30%;
      }

      @include media-query(phone-wide, max) {
        width: 40%;
      }
    }
  }
}
