.why-us {
    background-image: url('../../images/food.jpg');
    text-align: center;
    padding: 1rem;
}

.why-us .heading {
    width: 80%;
    margin: 2rem auto;
}

.why-us .heading h2 {
    font-size: 3rem;
}

.why-us .why-us-items {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.why-us .why-us-items article {
    margin: 1rem;
    width: 28%;
    text-align: center;
}

.why-us .why-us-items article i {
    font-size: 3rem;
}

.why-us .why-us-items article h4 {
    padding-top: 1rem;
}

.why-us .why-us-items article p {
    font-size: 0.9rem;
    padding-bottom: 0;
}

@media screen and (max-width: 960px) {
    .why-us .why-us-items article {
        width: 40%;
    }
}


@media screen and (max-width: 480px) {
    .why-us .why-us-items article {
        width: 80%;
    }
}