.drinks {
	background-image: url('../../images/background-black.jpg');
	text-align: center;
	padding: 1rem 0;
    max-width: $website-max-width;
    
	.heading {
		width: 80%;
		margin: 2rem auto;
    
        h2 {
			color: $color_navajowhite;
		}
    
        p {
			color: $color_gainsboro;
		}
    
        a {
			display: inline-block;
			outline: none;
			text-decoration: none;
			font-size: 0.9rem;
			background: transparent;
			border: 2px solid $color_navajowhite;
			border-radius: 0.2rem;
			padding: 0.3rem 0.8rem;
			font-weight: bold;
			cursor: pointer;
			color: $color_gainsboro;
    
            &:hover {
				color: $color_black;
				background-color: $background_navajowhite;
			}
		}
    }
    
	.drinks-items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
        width: 90%;
		margin: 4rem auto 2rem auto;
        
		article {
			padding: 2rem 1rem;
		    border: 1px solid $color_peru;
            
			&:hover {
				border: 1px solid $color_navajowhite;
				box-shadow: 0 0 1rem 0 $color_navajowhite;
				transition: border 0.3s ease-in, box-shadow 0.3s ease-in;
            }
            
			img {
				width: 80%;
				height: 10rem;
				border-radius: 50%;
           
           
                @include media-query(desktop, max) {
                    width: 60%;
                    min-width: 10rem;
                } }
            
			h3 {
				text-transform: uppercase;
				font-size: 1rem;
				padding-top: 2rem;
				color: $color_navajowhite;
            }
            
			p {
                font-size: 0.9rem;
                margin: 0 auto;
				color: $color_gray;
                
                @include media-query(desktop, max) {
                    width: 80%;
                }
            }
            
			p.price {
				font-weight: 700;
				padding-top: 1rem;
				padding-bottom: 0;
				color: $color_peru;
			}
        }

        @include media-query(desktop, max) {
            grid-template-columns: repeat(2, 1fr);
            width: 80%;
        }

        @include media-query(phone-wide, max) {
            grid-template-columns: repeat(1, 1fr);
            width: 60%;
        }
	}
}