.pasta-risotto {
    background-image: url('../../images/background-black.jpg');
    text-align: center;
    max-width: 100rem;
    padding: 1rem 0;
    margin: 0 auto;
}

.pasta-risotto .heading {
    width: 80%;
    margin: 2rem auto;
}

.pasta-risotto .heading h2 {
    color: navajowhite;
}

.pasta-risotto .heading p {
    color: gainsboro;
}

.pasta-risotto .heading a {
	display: inline-block;
	outline: none;
	text-decoration: none;
	font-size: 0.9rem;
	cursor: pointer;
	background: transparent;
	color: gainsboro;
	border: 2px solid navajowhite;
	border-radius: 0.2rem;
	padding: 0.3rem 0.8rem;
    font-weight: bold;
}

.pasta-risotto .heading a:hover {
    background-color: navajowhite;
    color: black;
}

.pasta-risotto .pasta-risotto-items {
    margin: 3rem 0 1rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pasta-risotto .pasta-risotto-items article {
    width: 20%;
    padding: 2rem;
    margin: 1rem;
    border: 1px solid peru;
}

.pasta-risotto .pasta-risotto-items article:hover {
    border: 1px solid navajowhite;
    box-shadow: 0 0 1rem 0 navajowhite;
    transition: border 0.3s ease-in, box-shadow 0.3s ease-in;
}

.pasta-risotto .pasta-risotto-items article img {
    width: 80%;
    height: 10rem;
    border-radius: 50%;
    border: 2px solid peru;
}

.pasta-risotto .pasta-risotto-items article h3 {
    padding-top: 1rem;
    color: navajowhite;
    text-transform: uppercase;
    font-size: 1rem;
}

.pasta-risotto .pasta-risotto-items article p {
    color: gray;
    font-size: 0.9rem;
    margin: 0 auto;
}

.pasta-risotto .pasta-risotto-items article p.price {
    padding-top: 1rem;
    padding-bottom: 0;
    color: peru;
    font-weight: 700;
}

// With 4-2-1

@media screen and (max-width: 1200px) {
    .pasta-risotto .pasta-risotto-items article {
        width: 33%;  
    }
}

@media screen and (max-width: 680px) {
    .pasta-risotto .pasta-risotto-items article {
        width: 38%;  
    }
}

@media screen and (max-width: 480px) {
    .pasta-risotto .pasta-risotto-items article {
        width: 53%;  
    }
}

// With 4-3-2-1

// @media screen and (max-width: 1200px) {
//     .pasta-risotto .pasta-risotto-items article {
//         width: 25%;  
//     }
// }

// @media screen and (max-width: 1024px) {
//     .pasta-risotto .pasta-risotto-items article {
//         width: 28%;  
//     }
// }

// @media screen and (max-width: 680px) {
//     .pasta-risotto .pasta-risotto-items article {
//         width: 38%;  
//     }
// }

// @media screen and (max-width: 480px) {
//     .pasta-risotto .pasta-risotto-items article {
//         width: 53%;  
//     }
// }