<section class="pasta-risotto">
    <div class="heading">
        <h2>Pasta</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod mollitia aliquam quae, facere minima nihil
            repellendus officia possimus vel quia quidem cupiditate numquam nam earum labore corrupti quas. Dolorum,
            minus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod mollitia aliquam quae, facere minima
            nihil repellendus officia possimus vel quia quidem cupiditate numquam nam earum labore corrupti quas.
            Dolorum, minus.
        </p>
        <a href="/menu">Menu</a>
    </div>
    <section class="pasta-risotto-items">
        <article>
            <img src="../../images/pasta-1.jpg" alt="pasta-1">
            <h3>Tomatoe</h3>
            <p>Dolorum, minus. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="price">&dollar;11.90</p>
        </article>
        <article>
            <img src="../../images/pasta-2.jpg" alt="pasta-2">
            <h3>Tuna</h3>
            <p>Dolorum, minus. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="price">&dollar;9.90</p>
        </article>
        <article>
            <img src="../../images/pasta-3.jpg" alt="pasta-3">
            <h3>Bolognese</h3>
            <p>Dolorum, minus. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="price">&dollar;10.90</p>
        </article>
        <article>
            <img src="../../images/pasta-4.jpg" alt="pasta-4">
            <h3>Carbonara</h3>
            <p>Dolorum, minus. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="price">&dollar;8.90</p>
        </article>
        <article>
            <img src="../../images/risotto-1.jpg" alt="risotto-1">
            <h3>Chicken</h3>
            <p>Dolorum, minus. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="price">&dollar;8.90</p>
        </article>
        <article>
            <img src="../../images/risotto-2.jpg" alt="risotto-2">
            <h3>Salmon</h3>
            <p>Dolorum, minus. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="price">&dollar;11.90</p>
        </article>
        <article>
            <img src="../../images/risotto-3.jpg" alt="risotto-3">
            <h3>Mushrooms</h3>
            <p>Dolorum, minus. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="price">&dollar;7.90</p>
        </article>
        <article>
            <img src="../../images/risotto-4.jpg" alt="risotto-4">
            <h3>Shrimps</h3>
            <p>Dolorum, minus. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="price">&dollar;12.90</p>
        </article>
    </section>
</section>
</section>