<section class="pasta-risotto">
    <div class="heading">
        <h2>Pasta</h2>
        <p>
            Pizzeria Bubba-Gump is not a simple pizza restaurant but a must for anyone who loves pizza.
            Treat yourself to one of our pizzas, taste our fresh pasta &amp; risotto, enjoy your essert and
            beverages. We pride ourselves in providing our customers with a wide variety of the finest quality of
            freshly cooked food. We aim to offer for both business and pleasure.
        </p>
        <a href="/menu">Menu</a>
    </div>
    <section class="pasta-risotto-items">
        <article>
            <img src="../../images/pasta-1.jpg" alt="pasta-1">
            <h3>Tomatoe</h3>
            <p>mozzarella, parmesan, tomatoes, olive oil, peppers, basil, balsamic</p>
            <p class="price">&dollar;11.90</p>
        </article>
        <article>
            <img src="../../images/pasta-2.jpg" alt="pasta-2">
            <h3>Tuna</h3>
            <p>tuna, broccoli, garlic, parmesan, peppers, white cream sauce</p>
            <p class="price">&dollar;9.90</p>
        </article>
        <article>
            <img src="../../images/pasta-3.jpg" alt="pasta-3">
            <h3>Bolognese</h3>
            <p>tomatoe, beef meat, mozzarella, garlic, black olives, red sauce</p>
            <p class="price">&dollar;10.90</p>
        </article>
        <article>
            <img src="../../images/pasta-4.jpg" alt="pasta-4">
            <h3>Carbonara</h3>
            <p>mozzarella, parmesan, eggs, white cheese, mushrooms, peppers</p>
            <p class="price">&dollar;8.90</p>
        </article>
        <article>
            <img src="../../images/risotto-1.jpg" alt="risotto-1">
            <h3>Chicken</h3>
            <p>chicken strips, garlic, parmesan, white cream sauce, mushrooms</p>
            <p class="price">&dollar;8.90</p>
        </article>
        <article>
            <img src="../../images/risotto-2.jpg" alt="risotto-2">
            <h3>Salmon</h3>
            <p>salmon, white cream, garlic, mozzarella, spinach, mushrooms, peppers</p>
            <p class="price">&dollar;11.90</p>
        </article>
        <article>
            <img src="../../images/risotto-3.jpg" alt="risotto-3">
            <h3>Mushrooms</h3>
            <p>mushrooms, garlic, chicken strips, parmesan, white cream sauce</p>
            <p class="price">&dollar;7.90</p>
        </article>
        <article>
            <img src="../../images/risotto-4.jpg" alt="risotto-4">
            <h3>Shrimps</h3>
            <p>shripms, garlic, parmesan, olive oil, red peppers, black olives</p>
            <p class="price">&dollar;12.90</p>
        </article>
    </section>
</section>
</section>