<section class="menu-item">
    <section class="heading">
        <h2>Pizza</h2>
        <p>
            Pizzeria Bubba-Gump is not a simple pizza restaurant but a must for anyone who loves pizza.
            Treat yourself to one of our pizzas, taste our fresh pasta &amp; risotto, enjoy your essert and
            beverages. We pride ourselves in providing our customers with a wide variety of the finest quality of
            freshly cooked food. We aim to offer for both business and pleasure.
        </p>
        <a href="/menu">Menu</a>
    </section>
    <section class="menu-subitems">
        <article>
            <img src="../../images/pizza-1.jpg" alt="pizza-1">
            <h3>Italian Pizza</h3>
            <p>mozzarella, pepperoni, prosciutto di parma, parmesan, red sauce</p>
            <p class="price">&dollar;11.90</p>
        </article>
        <article>
            <img src="../../images/pizza-2.jpg" alt="pizza-2">
            <h3>American Pizza</h3>
            <p>white sauce, fresh chopped basil, red onion, sliced tomatoes, mild sausage</p>
            <p class="price">&dollar;9.90</p>
        </article>
        <article>
            <img src="../../images/pizza-4.jpg" alt="pizza-4">
            <h3>Greek Pizza</h3>
            <p>mozzarella, white cheese, roasted red peppers, mushrooms, pesto</p>
            <p class="price">&dollar;10.90</p>
        </article>
        <article>
            <img src="../../images/pizza-6.jpg" alt="pizza-6">
            <h3>Garlic Pizza</h3>
            <p>mozzarella, parmesan, garlic, artichokes, white sauce</p>
            <p class="price">&dollar;8.90</p>
        </article>
        <article>
            <img src="../../images/pizza-3.jpg" alt="pizza-3">
            <h3>Margherita</h3>
            <p>tomatoe, white cheese, mozzarella, parmesan</p>
            <p class="price">&dollar;7.90</p>
        </article>
        <article>
            <img src="../../images/pizza-5.jpg" alt="pizza-5">
            <h3>Barbecue</h3>
            <p>mozzarella, mushrooms, spicy chicken sausage, barbecue sauce</p>
            <p class="price">&dollar;10.90</p>
        </article>
        <article>
            <img src="../../images/pizza-7.jpg" alt="pizza-7">
            <h3>Hawaii</h3>
            <p>mozzarella, pineapple, ham, mushrooms, pesto, parmesan</p>
            <p class="price">&dollar;9.90</p>
        </article>
        <article>
            <img src="../../images/pizza-8.jpg" alt="pizza-8">
            <h3>Garden</h3>
            <p>mozzarella, gorgonzola, mushrooms, jalapenos, spinach, red sauce</p>
            <p class="price">&dollar;8.90</p>
        </article>
    </section>
</section>