<footer class="site-footer">
  <section class="wrapper">
    <p>
      Copyright &copy; Pizza Delicious
    </p>
    <ul>
      <li><a class="circle" href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a class="circle" href="#"><i class="fab fa-facebook"></i></a></li>
      <li><a class="circle" href="#"><i class="fab fa-linkedin"></i></a></li>
    </ul>
    <ul>
      <li><a class="conditions" href="#">Privacy Policy</a></li>
      <li><a class="conditions" href="#">Terms of Use</a></li>
    </ul>
  </section>
</footer>