<input type="checkbox" name="navigation-toggle" id="navigation-toggle" value="" />
<header class="site-header">
    <div class="wrapper">
        <div>
            <a href="#">
                <span>Pizza Delicious</span>
            </a>
        </div>

        <label id="toggle" for="navigation-toggle">
            <i class="fas fa-bars"></i>
            <i class="fas fa-times"></i>
            Menu
        </label>

        <nav class="navigation">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#/services">Services</a></li>
                <li><a href="#/about">About</a></li>
                <li><a href="#/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>