.heading {
    width: 80%;
    margin: 2rem auto;
    h2 {
        text-align: center;
        color: $color_navajowhite;
    }
    p {
        width: 80%;
        text-align: left;
        margin: 0 auto;
        padding-bottom: 0;
        color: $color_gainsboro;
    }
}