#site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100rem;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  background-color: rgb(50, 50, 50);
}

#site-header a {
  text-decoration: none;
  color: white;
}

#site-header a:hover {
  color: navajowhite;
}

#site-header .navigation ul {
  display: flex;
  margin: 0;
  padding: 0.5rem;
}

#site-header .navigation .inner-list li {
	padding: 0.3rem 0;
}

#site-header .navigation .inner-list li:last-child {
  padding-bottom: 0;
}

#site-header .navigation .outer-list li:hover > ul {
	opacity: 1;
}

#site-header .navigation .outer-list li {
	position: relative;
  padding-right: 2rem;
}

#site-header .navigation .outer-list li:last-child {
  padding-right: 0;
}

#site-header .navigation .inner-list {
  opacity: 0; 
  position: absolute;
  flex-direction: column;
  background-color:rgb(50, 50, 50);
  width: 10rem;
  z-index: 1000;
}

#nav-toggle, #toggle {
  display: none;
}

#toggle {
  color: white;
}

#toggle i.fa-times {
  display: none;
}

@media screen and (max-width: 768px) {
  #site-header {
    padding: 1rem 2rem;
  }

  #toggle {
    display: block;
  }

  #site-header .navigation {
    display: none;
    border-top: 2px solid white;
  }

  #site-header .navigation ul {
    flex-direction: column;
  }

  #site-header .navigation .outer-list li {
    margin-top: 1rem;
    padding-right: 0;
    animation: slide-in 0.3s ease both;
  }

  @for $i from 1 through 5 {
		#site-header .navigation .outer-list li:nth-child(#{$i}) { animation-delay: $i * 0.10s; }
	}

  #nav-toggle:checked+#site-header .navigation {
    display: block;
    width: 100%;
    margin-top: 1rem;
    text-align: center;
  }

  #nav-toggle:checked+#site-header #toggle i.fa-bars {
    display: none;
  }

  #nav-toggle:checked+#site-header #toggle i.fa-times {
    display: block;
  }
}

@keyframes slide-in{
  from {
    opacity: 0;
    transform: translateX(-5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}