html {
	font: 12px/1.5 'Lato', 'Helvetica', sans-serif;
}

body, table, th, td, form, input, textarea, option, select {
	font: inherit;
}

@media screen and (min-width: 480px) {
	html {
		font-size: 12px
	}
}

@media screen and (min-width: 768px) {
	html {
		font-size: 14px
	}
}

@media screen and (min-width: 960px) {
	html {
		font-size: 16px
	}
}

@media screen and (min-width: 1024px) {
	html {
		font-size: 18px
	}
}

@media screen and (min-width: 1600px) {
	html {
		font-size: 20px
	}
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2em;
	padding-bottom: 1rem;
}

h1 {
	font-size: 3.2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 2.3em;
}

h4 {
	font-size: 1.8em;
}

h5 {
	font-size: 1.5em;
}

h6 {
	font-size: 1.2em;
}

p, ul, ol {
	margin: 0;
	padding-bottom: 1.5rem;
}

ul, ol {
	margin-left: 1.5rem;
}

li {
	list-style-position: inside;
	list-style: none;
}

/* 
ul ul {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

ul li {
	list-style-type: square;
}

ul ul li {
	list-style-type: disc;
}

ul ul ul li {
	list-style-type: circle;
} */

blockquote {
	width: 50%;
	font-style: italic;
	font-family: 'Georgia', serif;
	border-left: 5px solid gainsboro;
	margin-left: 5rem;
	margin-bottom: 1.5rem;
	padding: 0.3rem 2rem;
}

blockquote .author {
	text-align: right;
}

@media screen and (max-width: 680px) {
	blockquote {
		width: 80%;
		margin-left: 3rem;
	}
}