$color_white: white;
$color_black: black;
$color_peru: peru;
$color_gray: gray;
$color_gainsboro: gainsboro;
$color_navajowhite: navajowhite;

$background_transparent: rgba(0,0,0,0.4);
$background_gray: rgb(50, 50, 50);
$background_white : white;
$background_black: black;
$background_navajowhite: navajowhite;

$website-max-width: 100rem;