@mixin flex-box($justify, $align, $wrap: no-wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin button-hover($color, $background-color) {
  color: $color;
  background-color: $background-color;
}

@mixin header-link($color, $hover-color) {
  text-decoration: none;
  color: $color;

  &:hover {
    color: $hover-color;
  }
}

@mixin grid-items-circle-for-img($width, $height) {
  width: $width;
  height: $height;
  border-radius: 50%;
  overflow: hidden;
  margin: 2rem auto;
}
