$resolutions: (
  "phone": 320px,
  "phone-wide": 480px,
  "phablet": 640px,
  "phablet-wide": 768px,
  "tablet": 960,
  "tablet-wide": 1024px,
  "desktop": 1200px,
  "desktop-wide": 1600px
);

@mixin media-query($width, $type: min) {
  @if map_has_key($resolutions, $width) {
    $width: map_get($resolutions, $width);

    @if $type == max {
      $width: $width - 1px;
    }

    $parent: &;

    @media only screen and (#{$type}-width: $width) {
      @at-root #{$parent} {
        @content;
      }
    }
  }
}
