.contact {
    background-image: url('../images/world.png');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
    text-align: center;
    color: gainsboro;
    padding: 2rem;
    opacity: 0.9;
}

.contact .heading {
    width: 70%;
    margin: 2rem auto;
}

.contact .heading h2 {
    font-size: 3rem;
    margin: 0.5rem auto;
    color: navajowhite;
}

.contact .heading p {
    color: gainsboro;
    padding-bottom: 0.5rem;
}

.contact .contact-items {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.contact .contact-items article {
    margin: 1rem 3rem;
    width: 20%;
    text-align: center;
}

.contact .contact-items article i {
    font-size: 2em;
    color: navajowhite;
}

.contact .contact-items article h3 {
    font-size: 1.2rem;
}

.contact .contact-items article p {
    font-size: 0.8rem;
    text-transform: uppercase;
}

.contact form {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.contact form input {
    width: 50%;
    padding: 0.7rem 1.5rem 0.7rem 2.5rem;
    margin-bottom: 1rem;
    border: none;
    outline: none;
    font-size: 0.8rem;
    color: gray;
    border-radius: 0.3rem;
    border-bottom: 1px solid gainsboro;
}

.contact form i {
    position: relative;
    left: 2rem;
    top: 0.1rem;
    color: black;
    font-size: 1rem;
}

.contact form input[type=submit] {
    width: 20%;
    margin: 1rem auto;
    border: none;
    border-radius: 2rem;
    text-align: center;
    cursor: pointer;
    background-color: navajowhite;
    border: 2px solid navajowhite;
    color: black;
    font-size: 1.2rem;
    padding: 0.6rem;
}

.contact form input[type=submit]:hover {
    background-color: black;
    color: navajowhite;
}